body {
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*** HEADER
**** Header principal do site
***/

header {
    background-image: url("../img/julien-gaud-OG40m9BYEdw-unsplash.jpg");
    background-position: right center;
    background-size: Cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
    border-top: 1px solid transparent;
}

nav ul {
    text-align: right;
    margin: 17px 40px 0 0;
}

nav li {
    display: inline-block;
    border: solid 1px #ccc;
    list-style: none;
    margin-right: 20px;
}

nav a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}

nav a:hover {
    background-color: #1c4e55;
}

.informação_cabeçalho h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    margin-top: 150px;
    margin-left: 200px;
    text-shadow: 3px 3px 5px rgb(119, 119, 119);
    color: white;
}

.informação_cabeçalho p {
    font-size: 20px;
    margin-left: 200px;
    color: rgb(235, 235, 235);
    background-color: rgba(10, 29, 31, 0.3);
    border-bottom: solid 1px #ccc;
    display: inline-block;
    padding: 15px;
}

/*** MAIN
**** Main do conteúdo principal do site
***/

main {
    width: 70%;
    margin: auto;
}

.section_cards {
    margin-top: 40px;
    background-color: white;
    padding: 15px;
    overflow: auto;
    text-align: center;
}

.card {
    width: 32%;
    float: left;
    background-color: rgb(233, 243, 243);
}

.card-1, .card-2 {
    margin-right: 2%;
}

.card img {
    width: 100%;
}

.card p {
    background-color: rgba(10, 29, 31, 0.3);
    margin: 0;
    padding: 15px;
    color: white;
}

.section_informação {
    margin-top: 30px;
    background-color: white;
    padding: 2px 30px 10px 30px;
}

.section_informação h2 {
    background-color: rgba(10, 29, 31, 0.6);
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom: solid 2px #ccc;
}

.section_informação p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3f3e3e;
}

/*** FOOTER
**** Rodapé do site
***/

.rodape {
    background-color: #1c4e55;
    height: 80px;
    margin-top: 70px;
    text-align: center;
    color: white;
    line-height: 80px;
}